<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Automata</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
        <!--  <script src='main.js'></script>  -->
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="cadena" value={{expresion}}>
            <input type="submit" value="Enviar">
        </form>
        
        <p>{{mensaje}}</p>
    </body>
</html>